<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TimeOut</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div id='topo'>
    <p>Topo</p>
    <!--<div id='login'>
      <p>
      <button onclick="location.href='/login'">Entrar</button>
      <button onclick="location.href='/cadastro'">Cadastrar</button>
      </p>
    </div>
    -->
  </div>

  <!-- <form method="POST" class="cadastro_CSS"> -->
  {% block conteudo %}
  {% endblock %}
  <!-- </form> -->

  <div id="rodape">
     <p>Rodape</p>
  </div>
</body>
</html>
